@use "../../styles/commonStylesMixins.scss" as *;

.home-page-layout {
  .scroll-up {
    @include imageSize(40px, 40px, contain);
    @include borderWithRadius(2px solid #9c27b0, 50%);
    padding: 8px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
  }
}
