.about {
  @include flexSettings(row, space-around, center);
  @include sectionLayout(80px 25px, var(--background-two));
  height: 100%;

  &_left {
    flex: 0 0 50%;

    &_head {
      letter-spacing: 1px;
      font-size: 42px;
      margin-bottom: 40px;
      color: #9c27b0;
    }

    &_text {
      font-size: 22px;
      color: var(--text-color-two);
    }

    &_socialMedia {
      margin-top: 40px;

      img {
        @include imageSize(40px, 40px, contain);
        margin-right: 15px;
        cursor: pointer;
      }
    }

    &_starme {
      @include sectionLayout(10px 6px, #001c55);
      @include borderWithRadius(1px solid #001c55, 6px);
      margin-top: 30px;
      color: #ffffff;
      text-align: center;
      width: 200px;
      cursor: pointer;
    }
  }

  &_right {
    flex: 0 0;

    &_profilePic {
      @include borderWithRadius(1px solid transparent, 50% 10%);
      margin: 20px;
      height: 320px;
      width: 320px;
      background-clip: content-box, border-box;
      background-size: cover;
      background-image:
        url("../assets/profilePic.webp"),
        linear-gradient(to bottom left, var(--about-profilepic-one), var(--about-profilepic-two));
      background-repeat: no-repeat;
      padding: 12px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    height: 100%;

    &_left {
      &_head {
        font-size: 28px;
      }

      &_text {
        font-size: 18px;
      }
    }

    &_right {
      &_profilePic {
        height: 250px;
        width: 250px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column-reverse;
    padding: 50px 25px;

    &_left {
      text-align: center;

      &_head {
        font-size: 24px;
      }

      &_text {
        font-size: 16px;
      }

      &_starme {
        max-width: 200px;
        margin: 30px auto;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .about {
    &_right {
      &_profilePic {
        height: 200px;
        width: 200px;
      }
    }
  }
}
