.footer {
  @include flexSettings(row, space-around, center);
  @include sectionLayout(20px 20px, var(--background-one));
  font-size: 20px;
  border-top: 2px solid var(--border-one);
  color: var(--text-color-one);

  &_copyright {
    &_textOne {
      margin-bottom: 5px;
    }

    &_textTwo {
      margin-bottom: 5px;
    }
  }

  &_socialMedia {
    text-align: center;

    &_links {
      margin-top: 20px;

      img {
        @include imageSize(35px, 35px, contain);
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
    font-size: 18px;

    &_socialMedia {
      margin-top: 20px;
    }
  }
}
