.projects {
  @include sectionLayout(40px 25px, var(--background-two));

  &_heading {
    @include headingLayout(42px, center, 50px, var(--main-text-color));
  }

  &_filter {
    &_box {
      @include flexSettings(row, center, center);
      flex-wrap: wrap;
      margin-bottom: 50px;

      &_item {
        @include sectionLayout(8px 16px, #edf2f8);
        @include borderWithRadius(1px solid #9c27b0, 8px);
        margin-right: 15px;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
      }

      &_item:hover {
        @include colorWithBackground(#ffffff, #9c27b0);
      }
    }

    &_cardsBox {
      @include flexSettings(row, center, normal);
      flex-wrap: wrap;
      gap: 30px 20px;

      &_card {
        @include sectionLayout(15px, var(--secondary-background-one));
        @include borderWithRadius(1px solid #6b7688, 10px);
        width: 250px;
        text-align: center;
        transition: all 0.3s;
        color: var(--text-color-one);

        &_img {
          @include imageSize(200px, 120px, fill);
        }

        &_title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
          margin-top: 20px;
        }

        &_description {
          font-size: 16px;
          word-spacing: 1px;
        }

        &_techStack {
          margin-bottom: 15px;

          &_tech {
            @include borderWithRadius(1px solid #9c27b0, 5px);
            display: inline-flex;
            margin: 3px 5px 3px -1px;
            font-size: 12px;
            padding: 4px;
            color: #9c27b0;
            font-weight: 600;
          }
        }

        &_links {
          margin-top: 20px;
          img {
            @include imageSize(35px, 35px, contain);
            @include borderWithRadius(1px solid #6b7688, 50%);
            cursor: pointer;
            transition: all 0.5s;
          }

          img:hover {
            transform: scale(1.2);
          }
        }
      }

      &_card:hover {
        box-shadow: 0 2px 10px #6b7688;
      }
    }
  }
}

.margin-right {
  margin-right: 50px;
}

.activeTag {
  @include colorWithBackground(#ffffff, #9c27b0);
}
