.skills {
  @include sectionLayout(40px 25px, var(--background-one));

  &_heading {
    @include headingLayout(42px, center, 50px, var(--main-text-color));
  }

  &_box {
    @include flexSettings(column, center, center);
    flex-wrap: wrap;
    width: 100%;

    &_container {
      @include flexSettings(column, center, center);
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 40px;

      &_heading {
        font-size: 24px;
        font-weight: 400;
        color: var(--main-text-color);
      }

      &_heading::after {
        display: block;
        height: 3px;
        background-color: #9c27b0;
        content: "";
        width: 70px;
        margin: 5px auto 10px auto;
      }

      &_row {
        @include flexSettings(row, center, center);
        width: 100%;
        flex-wrap: wrap;

        &_card {
          @include flexSettings(column, center, center);
          @include borderWithRadius(1px solid var(--skills-card-border), 10px);
          width: 100px;
          height: 120px;
          text-align: center;
          margin: 10px;
          background-color: #ffffff;
          cursor: pointer;
          transition: all 0.3s;

          img {
            @include imageSize(50px, 50px, contain);
            margin-bottom: 10px;
          }

          p {
            font-size: 14px;
            width: 100%;
          }
        }

        &_card:hover {
          box-shadow: 0 2px 10px var(--skills-card-shadow);
        }
      }
    }
  }
}
